// http://www.bootply.com/123350
*, *:before, *:after {box-sizing:  border-box !important;}

.row {
  -moz-column-width: 25em;
  -webkit-column-width: 25em;
  -moz-column-gap: .5em;
  -webkit-column-gap: .5em;
}

.panel-masonry {
  display: inline-block;
  margin:  .5em;
  padding:  0;
  width:98%;
}

/* Sticky footer styles
http://getbootstrap.com/examples/sticky-footer-navbar/
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

/* Panel Animations - fade in and out */
.panel.ng-hide-add.ng-hide-add-active,
.panel.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 0.25s;
  transition: all linear 0.25s;
}

.panel.ng-hide {
  opacity: 0;
}
