<!DOCTYPE html>
<html ng-app="dashboardApp">
	<head>
		<title>Trello Dashboard</title>
		<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="http://bootswatch.com/flatly/bootstrap.min.css">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

		<!-- Angular JS -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.1/angular.min.js"></script>

		<!-- Angular JS Routing -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.1/angular-route.js"></script>

		<!-- d3, nvd3, angularjs-nvd3-directives -->
		<script src="js/d3.min.js"></script>
		<script src="js/nv.d3.min.js"></script>
		<script src="js/angularjs-nvd3-directives.min.js"></script>
		<link rel="stylesheet" href="css/nv.d3.css"/>

		<link rel="stylesheet" href="css/dashboard.css"/>

		<!-- Trello Client -->
		<script src="https://api.trello.com/1/client.js?key=d393ef8fea5f6d5d75562a9a5c25bb5e"></script>

		<!-- Dashboard Controller -->
		<script src="js/trelloLibrary.js"></script>
		<script src="js/dashboardApp.js"></script>
	</head>
	<body ng-controller="DashboardController">
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>

					<a class="navbar-brand" href="#">Trello Dashboard</a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<form class="navbar-form navbar-left">
						<div class="input-group" ng-show="authorised == true">
							<span class="input-group-addon">Organisation</span>
							<select class="form-control" ng-model="selectedOrganisation" ng-options="organisation.displayName for organisation in organisations track by organisation.id" ng-change="updatePath()">

							</select>
						</div>
						<div class="input-group" ng-show="selectedOrganisation != null">
							<span class="input-group-addon">Filter</span>
							<select class="form-control" ng-model="filter">
								<option value="open">Open</option>
								<option value="closed">Closed</option>
								<option value="all">All</option>
							</select>
						</div>
					</form>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#" ng-show="authorised == false" ng-click="login()">Login</a></li>
						<li>
							<a href="#" ng-show="authorised == true" ng-click="logout()">Logout</a>
						</li>
					</ul>
					<p ng-show="authorised == true" class="navbar-text navbar-right">
						{{user[0].fullName}} <img style="width: 22px; height: 22px;" ng-src="https://trello-avatars.s3.amazonaws.com/{{user[0].avatarHash}}/30.png"/>
					</p>
					<form class="navbar-form navbar-right">
						<div class="input-group">
							<span class="input-group-addon">
								<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
							</span>
							<input type="text" class="form-control" placeholder="Search" ng-model="search">
						</div>
					</form>
				</div>
			</div>
		</nav>
		<div class="container" ng-show="authorised != true;">
			<div class="jumbotron">
				<h1>Trello Dashboard</h1>
				<p>
					Welcome to the Trello Dashboard. This application will display
					a summary of your
					existing Trello organisations, boards, lists, and cards.
				</p>
				<p>
					This version allows you to:
					<ul>
						<li>Login using your Trello account</li>
						<li>Select an Organisation to view</li>
						<li>Choose whether to display Open, Closed, or All boards</li>
						<li>Display each of the Lists in your Boards</li>
						<li>Display a count of cards per list</li>
						<li>Provide a graphical representation of cards per list</li>
					</ul>
				</p>
				<p><button type="button" class="btn btn-primary btn-lg" ng-click="login()">Login</button></p>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="panel panel-masonry" ng-repeat="board in boards" ng-class="board.closed ? 'panel-danger' : 'panel-primary'" ng-show="(filter == 'all' || (!board.closed && filter == 'open') || (board.closed && filter == 'closed')) && (search == null || board.name.toUpperCase().indexOf(search.toUpperCase()) > -1)">
					<div class="panel-heading">
						<strong>{{board.name}}</strong>
						<span class="pull-right">
							<a href="{{board.url}}" target="_blank">
								<span class="glyphicon glyphicon-link"></span>
							</a>
						</span>
					</div>
					<div class="panel-body">
						<nvd3-pie-chart
							data="board.chart"
							id="c-{{board.id}}"
							objectequality="true"
							showLabels="true"
							x="xFunction()"
							y="yFunction()"
							donut="true"
							donutRatio=".5"
							donutLabelsOutside="true" width="500" height="500">
							<svg style="width: 500px; height:500px;"></svg>
						</nvd3-pie-chart>

					</div>
					<ul class="list-group">
						<li class="list-group-item" ng-repeat="list in board.lists">
							<span class="badge">{{list.cards.length}}</span>
							{{list.name}}
						</li>
					</ul>
				</div>
			</div>
		</div>

		<footer class="footer">
			<div class="container">
				<p class="text-muted">
					Developed &amp; Maintained by <a href="https://johnvoysey.wordpress.com" target="_blank">John Voysey</a>.
					<a href="https://github.com/johnvoysey/trello-dashboard" target="_blank">Source.</a>
					Hosted on <a href="https://github.com" target="_blank">GitHub Pages</a>.
				</p>
			</div>
		</footer>
	</body>
</html>
